<div class="mainContainer">
<div class="top">
    <a href="#" class="backArrow"><mat-icon>keyboard_backspace</mat-icon></a>
    
</div>

<section class="logIN">
    <h1 class="logInTitle">Log in </h1>
    <form action="#" method="post">
    <div class="inputContainer">
        <label for="email">Email adress</label>
        <input type="email" name="email" id="email" />
    </div>

    <div class="inputContainer">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" />
    </div>

    <div class="rememberMe">
        <input type="checkbox" name="remamberMe" id="remamberMe">
        <label for="remamberMe">Remember me</label>
    </div>

    <div class="bottomParte">
        <input type="submit" value="Log in">
        
        <div class="bottom">
           <div class="forgetPass">
            <a href="#">Forget your password</a>
           </div>
           <div class="singUp">
            <span class="dontHaveAccount">Don't have account ? </span><a href="/singUp">Sing up</a>
           </div>
        </div>
    </div>
</form>
</section>
</div>