<div class="mainContainer">
    <div class="top">
        <a href="#" class="backArrow"><mat-icon>keyboard_backspace</mat-icon></a>
        <span class="topTitle">Majdoule radouan</span>
    </div>
    
    <section class="singUp">
        <h1 class="logInTitle">Sing up </h1>
        <form action="#" method="post">

        <div class="inputContainer">
            <label for="fName">First name</label>
            <input type="text" name="fName" id="fName" />
        </div>

        <div class="inputContainer">
            <label for="lName">Last name</label>
            <input type="text" name="lName" id="lName" />
        </div>

        <div class="inputContainer">
            <label for="email">Email adress</label>
            <input type="text" name="email" id="email" />
        </div>
    
        <div class="inputContainer">
            <label for="password">Password</label>
            <input type="text" name="password" id="password" />
        </div>
    
        
    
        <div class="bottomParte">
            <input type="submit" value="Creat account">
            
            <div class="bottom">
               <div class="logIn">
                <span class="AlreadyHaveAccount">Already have account ? </span><a href="/">Log in</a>
               </div>
            </div>
        </div>
    </form>
    </section>
    </div>