<!--hada ghadi ikon componants men be3d-->
<div class="courCard">
    <img src="{{courInfo.inageUrl}}" alt="angular" class="courImg" />
    <div class="textContainer">
        <h3 class="courTile">Angular</h3>
        <span class="date">uploaded : {{courInfo.date}}</span>
        <p class="description">{{courInfo.description}}</p>
        <a class="seeMore" id="myBtn" >see more</a>
    </div>
</div>


<!-- HENA KAYN L  MODEL  KAY2AFFICHI LES DETAUL DYAL L COUR -->
<div id="myModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>

      <div class="content">
        <h1>Angular</h1>
        <img src="{{courInfo.inageUrl}}" alt="image" class="imgModal">
        <h5 class="date">uploaded : {{courInfo.date}}</h5>
        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea soluta obcaecati pariatur animi sint saepe impedit eaque vero ipsum dolore, debitis facere incidunt nostrum cupiditate porro ex neque, quis inventore
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea soluta obcaecati pariatur animi sint saepe impedit eaque vero ipsum dolore, debitis facere incidunt nostrum cupiditate porro ex neque, quis inventore.</p>
        <div class="firstChapter">
            <h3>Chapitre 1 :</h3>
            <p>This is the first chapter of this cour and it is for free</p>
            <iframe  class="vedio" src="https://www.youtube.com/embed/tgbNymZ7vqY">
            </iframe>
            <a href="#" class="demandAccessBTN">Demander l'accee</a>
        </div>
    </div>

    </div>
  </div>
<!-- HENA KAYSSALI L MODAL   --->